@import "tailwindcss";

@layer base {
  body {
    /* Base background removed to allow components to dictate light/dark mode */
    @apply antialiased;
  }
}

@theme {
  --animate-shake: shake 0.5s ease-in-out;

  @keyframes shake {

    0%,
    100% {
      transform: translateX(0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
      transform: translateX(-5px);
    }

    20%,
    40%,
    60%,
    80% {
      transform: translateX(5px);
    }
  }
}

/* Utility to hide number input spinners */
@layer utilities {
  .hide-spinners {
    -moz-appearance: textfield;
  }

  .hide-spinners::-webkit-outer-spin-button,
  .hide-spinners::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}